body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url("img/plush-design-studio-704231-unsplash.jpg"); */
    background-color:white;
}
/* PARALLAX */

.parallax { 
    /* The image used */
    background-image: url("img/neha-deshmukh-9593-unsplash.jpg");
  
    /* Set a specific height */
    height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 { 
    /* The image used */
    background-image: url("img/keila-hotzel-227543-unsplash.jpg");

  
    /* Set a specific height */
    height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 575px) {
    .parallax {
        height:500px;
    }  
  }


/* HEADING */

.heading {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

.heading h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #444;
}
/* .heading p {
    text-transform: uppercase;
} */


/* NAVIGATION MENU */

.navbar-container ul {
    float: right;
}

.navbar-container li {
    display: inline;
    float: left;
}

.navbar-container img.logo {
    float: left;
}

.navbar-container {
    width: 100%;
}

#navbar {
    /* box-shadow: 0 -2px 12px 1px hsla(0, 0%, 80%, .8); */
}

.navbar-large, .navbar-small {
    float: left;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar-large a, .navbar-small a {
    /* color: #969696; */
    color: black;
    text-decoration: none;
    /* font-family: 'Amaranth', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar-large span, .navbar-small span {
    /* color: #969696; */
    color: black
}

.navbar-large li:active, .navbar-large li:hover {
    border-bottom: 4px solid #C6596F;
    transform: scale(1.05);
    -moz-transition: 0s all;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    padding-bottom: 6px;

}

.navbar-small li:active, .navbar-small li:hover {
    border-bottom: 4px solid #C6596F;
    transform: scale(1.05);
    -moz-transition: 0s all;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    padding-bottom: 5px;
}

.navbar-large li, .navbar-small li {
    margin-right: 30px;
}

.navbar-large li:last-child, .navbar-small li:last-child {
    margin-right: 100px;
}

.navbar-large {
    height: 80px;
    /* background-color: white; */
    background: RGBA(255, 255, 255, 0);
    display: flex;
}

.navbar-large li {
    margin-top: 30px;
}

.navbar-large img {
    margin-top: 13px;
    transition: .7s;
    -moz-transition: .7s;
    -webkit-transition: .7s;
    -o-transition: .7s;
}

.navbar-large .nav-logo {
    float: left;
    margin-left: 100px;
}
/*toggle hamburger*/

.navbar-hamburger {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-hamburger ul {
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    display: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 100%;
}

.navbar-hamburger ul.opening {
    display: block;
    width: 100%;
}

.navbar-hamburger li {
    width: 100%;
    display: block;
}

.navbar-hamburger a {
    color:black;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.navbar-hamburger li:hover, nav li:focus {
    -webkit-box-shadow: inset 0px 0px 100px 5px rgb(46, 47, 49);
    -moz-box-shadow: inset 0px 0px 100px 5px rgb(46, 47, 49);
    box-shadow: inset 0px 0px 100px 5px rgb(46, 47, 49);
}

.navbar-hamburger li:first-child:hover, nav li:first-child:focus {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.hamburger-toggle {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 0;
}

.hamburger-box {
    background-color: white;
    border-radius: 100px;
    width: 65px;
    height: 65px;
    align-items: center;
    justify-content: center;
}

#hamburger-icon {
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 25px;
    margin-right: 50px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger-icon span {
    display: inline-block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #C6596F;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    margin-top: 16px;
    margin-left: 12px;
}

.open {
    padding: 0;
}

#hamburger-icon span:nth-child(2), #hamburger-icon span:nth-child(3) {
    top: 13px;
}

#hamburger-icon span:nth-child(2) {
    background-color: #C2D22B;
}

#hamburger-icon span:nth-child(4) {
    top: 26px;
}

#hamburger-icon.open span:nth-child(1) {
    width: 0%;
    left: 50%;
    margin-top: 10px;
}

#hamburger-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#li-hamburger-logo {
    background-color: white;
}

#li-hamburger-logo img {
    height: 80px;
    padding-bottom: 5px;
}

#li-hamburger-1,#li-hamburger-2,#li-hamburger-3,#li-hamburger-4,#li-hamburger-5,#li-hamburger-6 {
    /* background-image: url("img/hamburger-button-1.jpg"); */
    background-color: white;
    padding: 0px;
    background-size: 100%;
}

/* #li-hamburger-2 {
    background-image: url("img/hamburger-button-2.jpg");
    padding: 60px;
    background-size: 100%;
}

#li-hamburger-3 {
    background-image: url("img/hamburger-button-3.jpg");
    padding: 60px;
    background-size: 100%;
}

#li-hamburger-4 {
    background-image: url("img/hamburger-button-4.jpg");
    padding: 60px;
    background-size: 100%;
} */

/* #li-hamburger-5 { */
    /* height: 80px;
    width: 100%; */
    /* background: -moz-linear-gradient(top, rgba(46, 47, 49, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(46, 47, 49, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(46, 47, 49, 0.65) 0%, rgba(0, 0, 0, 0) 100%); */
}

/*navigation media queries*/

@media screen and (max-width: 425px) {
    #li-hamburger-1, #li-hamburger-2, #li-hamburger-3, #li-hamburger-4,#li-hamburger-5, #li-hamburger-6 {
        padding: 50px;
        font-size: 1rem;
    }

    .navbar-hamburger a {
        padding: 0;
    }

    .hamburger-toggle {
        transform: scale(0.8);
    }

    #hamburger-icon {
        margin-top: 15px;
        margin-right: 35px;
    }

    #hamburger-icon span {
        height: 8px;
    }

    #li-hamburger-logo img {
        height: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media screen and (min-width: 0px) {

    .navbar-large, .navbar-small {
        visibility: hidden;
    }

    .navbar-hamburger {
        visibility: visible;
    }

}

@media screen and (max-width: 768px) {

    .navbar-large, .navbar-small {
        visibility: hidden;
    }

    .navbar-hamburger {
        visibility: visible;
    }

}

@media screen and (min-width: 769px) {

    .navbar-large, .navbar-small {
        visibility: visible;
    }

    .navbar-hamburger {
        visibility: hidden;
    }

}
/* MOVING LETTERS */

.ml12 {
    font-weight: 200;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }
  @media (max-width: 575px){
    .ml12 {
        font-size: 1.2rem;
    }
      
  }

/* test animation on scroll */
.item {
    /* width: 200px; */
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }

/* JUMBOTRON */
.jumbotron {
    background: RGBA(255, 255, 255, 0);
    margin-top: 12rem;
    margin-bottom: 12rem;
}

/* CLASSES */
.card-teachers {
    text-align: center;
}

.card {
    margin:20px;
    padding: 30px; 
    background: RGBA(255, 255, 255, 0);
    border:none;
}
.card_art_classes{
    margin-top: 130px;
}
.card-columns {
    width: 800px;
    margin: auto;
}
.row-offer {
    /* margin-top: 250px;
    margin-bottom: 250px; */
    margin-left: 40;
    margin-right: 40;
} 
@media (max-width: 575px) {
    .card-columns{
        width:100%;
    }
    /* .card_counsellors {
        margin-bottom: 23rem; */
}

/*SPECIALIZATIONS */

.newsletter {
    height: auto;
    /* background-image: url("img/ajo-szczepanska-57782-unsplash.jpg"); */
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: revert;
    margin-top: 6rem;
    margin-bottom: 6rem;
}


.newsletter .form {
    border-radius: 20px;
    padding: 3rem;
    width: 60%;
    margin: 0 auto;
    background: RGBA(255, 255, 255, 0d);
}

@media (max-width: 575px) {
    .newsletter .form {
        padding: 2rem;
        width: 100%;
        /* margin: 0 auto; */
        margin-top: 23rem;
        background: RGBA(255, 255, 255, 0);
        border-radius: 0px;
    }

    .newsletter {
        padding: 0;
    }
}

@media (min-width: 576px) and (max-width: 769px) {
    .newsletter .form {
        padding: 2rem;
        width: 80%;
        margin: 0 auto;
        background: RGBA(255, 255, 255, 0);
        border-radius: 20px;
    }

    .newsletter {
        height: auto;
        padding: 50px;
    }
}

.go-top {
    position: fixed;
    transform: scale(2.5);
    bottom: 40px;
    right: 45px;
    z-index: 1000;
}

@media screen and (max-width: 425px) {

    .go-top {
        transform: scale(2);
        bottom: 30px;
        right: 27px;
    }

}

/*FOOTER*/

.footer {
    text-align: center;
}
.footer_container {
    background-color: white;
}

@media (max-width: 575px) {
    .footer {
        padding:0px;
    }
    .test{
        margin-top: 50rem;
    }
}

.sections-active{
    border-bottom: 3px solid #C6596F;
    transform: scale(1.05);
} 

